.clock {
    border-radius: 20%;
    background: #fff url(clock.png) no-repeat center;
    background-size: 70%;
    height: 10em;
    padding-bottom: 26%;
    position: relative;
    width: 40em;
  }
  
  .clock.simple:after {
    background: #000;
    border-radius: 10%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
  }

  .minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .hours {
    background:black;
    height: 17%;
    left: 48.75%;
    position: absolute;
    top: 33%;
    transform-origin: 50% 100%;
    width: 1.5%;
  }

  .minutes {
    background: black;
    height: 22%;
    left: 49%;
    position: absolute;
    top: 28%;
    transform-origin: 50% 100%;
    width: 1%;
  }

  .seconds {
    background:black;
    height: 25%;
    left: 49.5%;
    position: absolute;
    top: 25%;
    transform-origin: 50% 80%;
    width: .5%;
    z-index: 8;
  }

  @keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }

  .hours-container 
  {
    animation: rotate 43200s infinite linear;
  }
  .minutes-container
  {
    animation: rotate 3600s infinite linear;
  }
  .seconds-container 
  {
    animation: rotate 60s infinite linear;
  }

  .minutes-container 
  {
    animation: rotate 3600s infinite steps(60);
  }
  .seconds-container 
  {
    animation: rotate 60s infinite steps(60);
  }  
