body {
    font-family: 'Baloo Bhai 2', cursive;
    padding: 0px;
    margin: 0px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
}

.left {
    /* border: 2px solid red; */
    color: white;
    display: inline-block;
    position: absolute;
    left: 44px;
    top: 44px;

}

.mid {
    /* border: 2px solid green; */
    color: white;
    width: 33%;
    margin: 20px auto;
}

.right {
    /* border: 2px solid YELLOW; */
    color: white;
    display: inline-block;
    position: absolute;
    right: 44px;
    top: 47px;


}

.navbar li {
    display: inline-block;
    font-size: 20px;


}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;

}

.navbar li a:hover,
.navbar li a.active {
    color: red;
    text-decoration: underline;

}

.left img {
    width: 78px;
    filter: invert(100%);
}

.left div {
    text-align: center;
    line-height: 0px;
    font-size: 25px;
    ;
}

.btn {
    background-color: #f10f0f;
    color: white;
    padding: 4px 7px;
    border-radius: 4px;
    font-family: 'Baloo Bhai 2', cursive;
    margin: 4px;
}

.btn:hover {
    background-color: salmon;
}

.container {

    border: 2px solid #8e491f;
    margin: 110px 80px;
    padding: 75px;
    width: 21%;
    border-radius: 30px
}

.container h1 {
    color: rgb(212, 16, 16);
    text-align: center;
}

.form-group input {
    font-family: 'Baloo Bhai ';
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    display: block;
    width: 311px;

    padding: 4px;
    border: 2px solid black;
    margin: 9px auto;
}

.container button {
    display: block;
    width: 80%;
    margin: 2px auto;
    border-radius: 10px;
    font-size: 14px;
}
